@breakpoint-sm:   35.5em; //  568px
@breakpoint-md:   48em;   //  768px
@breakpoint-lg:   64em;   // 1024px
@breakpoint-xl:   80em;   // 1280px
@breakpoint-xxl: 120em;   // 1920px

// only use @mq-xs for special cases
@mq-xs: ~"screen and (max-width: @{breakpoint-sm})";
@mq-sm: ~"screen and (min-width: @{breakpoint-sm})";
@mq-md: ~"screen and (min-width: @{breakpoint-md})";
@mq-lg: ~"screen and (min-width: @{breakpoint-lg})";
@mq-xl: ~"screen and (min-width: @{breakpoint-xl})";
@mq-xxl: ~"screen and (min-width: @{breakpoint-xxl})";

@import (inline) "./grid.css";
// @import (inline) "./reset-fonts.css";

:root {
	font-size: 10px;
}

body {
	color: #333;
	font-size: 1.4rem;
	line-height: 1.4;
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	padding: 0;
}

a {
	color: #0a5cc2;
	text-decoration: none;
	&:focus,
	&:hover {
		color: #d1494b;
	}
}

p a {
	text-decoration: underline;
}

p.box > a {
	text-decoration: none;
}

ul, p, ol, dl, table {
	margin: 0 0 1em 0;
	padding: 0;
}

.wrapper {
	ol {
		margin-left: 0.8rem;
		li {
			list-style-type: decimal;
			margin-left: 1.4em;
		}
	}
	dd,
	dt {
		margin-top: 0.25em;
		margin-bottom: 0.25em;
		border-width: 1px 0 0 0;
		border-style: solid;
		border-color: #e6eef9;
		padding-top: 0.5rem;
	}
}

ul li {
	list-style-type: disc;
	margin-left: 1.4em;
}

dt {
	font-weight: bold;
}

dd {
	text-align: right;
}

h3, h4 {
	font-size: 2.4rem;
	color: #d1494b;
	margin: 0.5em 0;
	font-weight: 400;
}

h4 {
	font-size: 1.8rem;
}

h5, h6 {
	font-size: 1.4rem;
	font-weight: bold;
	margin: 0.5em 0;
}

h6 {
	font-weight: normal;
}

.section {
	margin-bottom: 1em;
	float: left;
	width: 100%;
}

.detail {
	font-size: 1.1rem;
}

table {
	width: 100%;
	border-collapse: collapse;
}

th, td {
	border-width: 1px 0;
	border-style: solid;
	border-color: #e6eef9;
	padding: 0.2rem 0;
	vertical-align: top;
}

th, strong {
	font-weight: bold;
}

img {
	border: 0;
}

/* column backgrounds */
/* ----------------------------------------------------------------- */

.bg12 {
	background-image: url(../images/bg-12.gif);
	background-position: center bottom;
	background-repeat: no-repeat;
}

.bg57 {
	background-image: url(../images/bg-57.gif);
	background-position: center bottom;
	background-repeat: no-repeat;
}

.bg48 {
	background-image: url(../images/bg-48.gif);
	background-position: center bottom;
	background-repeat: no-repeat;
}

.bg66 {
	background-image: url(../images/bg-66.gif);
	background-position: center bottom;
	background-repeat: no-repeat;
}

.bg552b {
	background-image: url(../images/bg-552b.gif);
	background-position: center bottom;
	background-repeat: no-repeat;
}

.bg444 {
	background-image: url(../images/bg-444.gif);
	background-position: center bottom;
	background-repeat: no-repeat;
}

.bg543 {
	background-image: url(../images/bg-543.gif);
	background-position: center bottom;
	background-repeat: no-repeat;
}

.bg102b {
	background-image: url(../images/bg-102b.gif);
	background-position: center bottom;
	background-repeat: no-repeat;
}

.bgline66 {
	background-image: url(../images/bg-line-75.gif);
	background-position: -6rem bottom;
	background-repeat: repeat-y;
}

.bgline75 {
	background-image: url(../images/bg-line-75.gif);
	background-position: center bottom;
	background-repeat: repeat-y;
}

.bubble1 {
	background-image: url(../images/bg-bubble1.gif);
	background-position: center bottom;
	background-repeat: no-repeat;
}

.bubble2 {
	background-image: url(../images/bg-bubble2.gif);
	background-position: center bottom;
	background-repeat: no-repeat;
}

.bubble3 {
	background-image: url(../images/bg-bubble3.gif);
	background-position: center bottom;
	background-repeat: no-repeat;
}

.bubble4 {
	background-image: url(../images/bg-bubble4.gif);
	background-position: center bottom;
	background-repeat: no-repeat;
}

.bubble5 {
	background-image: url(../images/bg-bubble5.gif);
	background-position: center bottom;
	background-repeat: no-repeat;
}

.bubble6 {
	background-image: url(../images/bg-bubble6.gif);
	background-position: center bottom;
	background-repeat: no-repeat;
}

.bubble7 {
	background-image: url(../images/bg-bubble7.gif);
	background-position: center bottom;
	background-repeat: no-repeat;
}

.bubble8 {
	background-image: url(../images/bg-bubble8.gif);
	background-position: center bottom;
	background-repeat: no-repeat;
}

.bubble9 {
	background-image: url(../images/bg-bubble9.gif);
	background-position: center bottom;
	background-repeat: no-repeat;
}

.bubble10 {
	background-image: url(../images/bg-bubble10.gif);
	background-position: center bottom;
	background-repeat: no-repeat;
}

.bubble11 {
	background-image: url(../images/bg-bubble11.gif);
	background-position: center bottom;
	background-repeat: no-repeat;
}

.bubble12 {
	background-image: url(../images/bg-bubble12.gif);
	background-position: center bottom;
	background-repeat: no-repeat;
}

/* header */
/* ----------------------------------------------------------------- */

h1 {
	margin-top: 0;
	margin-bottom: 0;
	font-size: 1.4rem;
	a {
		display: block;
		margin-top: 1rem;
	}
}

#mainmenu {
	a {
		display: block;
		text-align: center;
		font-size: 1.8rem;
		line-height: 4rem;
		background-image: url(../images/bg-mainmenu.gif);
		background-repeat: no-repeat;
		background-position: center top;
	}
}

.ggo-participate #mainmenu .participate a,
.ggo-volunteer #mainmenu .volunteer a,
.ggo-sponsor #mainmenu .sponsor a,
.ggo-about #mainmenu .about a {
	color: #d1494b;
}

/* infobar */
/* ----------------------------------------------------------------- */

#infobar {
	background-image: url(../images/bg-bigbarback.gif);
	background-repeat: repeat-x;
	background-position: center top;
	position: relative;
}

#infobar .wrapper {
	background-image: url(../images/bg-bigbar.gif);
	background-repeat: no-repeat;
	background-position: center top;
}

#infobar .maininfo {
	color: #fff;
	height: 20.5rem;
	font-size: 1.3rem;
}

#infobar .maininfo a {
	color: #f4d15a;
}

#infobar .maininfo a:focus, #infobar .maininfo a:hover {
	color: #e6eef9;
}

#infobar h2 {
	margin: 1rem 0 0 0;
	font-size: 3rem;
	line-height: 1.8;
	white-space: nowrap;
	font-weight: 400;
}

#infobar h3 {
	font-size: 2.4rem;
	line-height: 1;
	margin: 0 0 2.7rem 0;
	color: #fff;
	white-space: nowrap;
	font-weight: 400;
}

#infobar a#appbutton {
	display: block;
	width: 12.1rem;
	height: 5.6rem;
	padding: 0.7rem 0;
	margin-left: 1rem;
	overflow: hidden;
	background-image: url(../images/s-appbutton.gif);
	background-position: left top;
	background-repeat: no-repeat;
	text-align: center;
	color: #756736;
	font-size: 1.9rem;
	line-height: 1;
}

#infobar a#appbutton:focus, #infobar a#appbutton:hover {
	background-position: left -10rem;
}

#infobar a#appbutton span {
	color: #0a5cc2;
	font-size: 3rem;
	font-weight: bold;
}

#infobar .lowerinfo {
	margin-top: 1.5rem;
}

/* types */
/* ----------------------------------------------------------------- */

#types h4 {
	background-image: url(../images/s-typesheaders.jpg);
	background-repeat: no-repeat;
	background-position: left top;
	color: #fff;
	font-size: 2.4rem;
	height: 8.2rem;
	padding-top: 0.2rem;
	line-height: 8.2rem;
	margin: 0;
}

#types h4 a {
	color: #fff;
	display: block;
}

#types h4 a:hover {
	color: #f4d15a;
}

#types .participate h4 { background-position: 0 0; }
#types .volunteer h4   { background-position: -28.4rem 0; }
#types .sponsor h4     { background-position: -56.8rem 0; }

#types div.type4c {
	margin-top: -0.4rem;
}

#types ul {
	/*font-size: 1.6rem;*/
}

/* inner menu */
/* ----------------------------------------------------------------- */

#innermenu ul {
	margin: 1rem 0;
	text-align: center;
	font-size: 1.2rem;
}

#innermenu li {
	list-style-type: none;
	display: inline;
	text-align: center;
	margin: 0;
	padding: 0 2rem;
	border-left: 1px solid #d0d0d0;
}

#innermenu li.first {
	border: none;
	margin: 0;
}

/* photo stack */
/* ----------------------------------------------------------------- */

#picfade {
	position: relative;
	margin-top: -3.5rem;
	height: 37.0rem;
	z-index: 1;
}

#picfade img {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
	opacity: 0;
	&.pic-previous {
		z-index: 1;
		opacity: 1;
	}
	&.pic-active {
		z-index: 2;
		opacity: 1;
		transition: opacity 1000ms ease-in-out;
	}
}

/* sponsors */
/* ----------------------------------------------------------------- */

#sponsors h4 {
	height: 3.2rem;
	line-height: 3.2rem;
	background-repeat: no-repeat;
	background-position: 0 0;
	color: #fff;
	font-size: 1.8rem;
	margin: 0 0 0.7rem 0;
}

#sponsors h4 a {
	color: #fff;
}

#sponsors .corporate h4 { background-image: url(../images/s-header-corporate.gif); }
#sponsors .platinum h4  { background-image: url(../images/s-header-platinum.gif); }
#sponsors .gold h4      { background-image: url(../images/s-header-gold.gif); }
#sponsors .silver h4    { background-image: url(../images/s-header-silver.gif); }
#sponsors .bronze h4    { background-image: url(../images/s-header-bronze.gif); }
#sponsors .torch h4     { background-image: url(../images/s-header-torch.gif); }
#sponsors .friend h4    { background-image: url(../images/s-header-friend.gif); }

.corporatetext { color: #2bb435; }
.platinumtext  { color: #adaba7; }
.goldtext      { color: #eab000; }
.silvertext    { color: #9c9c9e; }
.bronzetext    { color: #cb9254; }
.torchtext     { color: #e4686a; }
.friendtext    { color: #0a5cc2; }

#sponsors .type12 h4 { background-position: 0 0; }
#sponsors .type11 h4 { background-position: 0 -5.0rem; }
#sponsors .type10 h4 { background-position: 0 -10rem; }
#sponsors .type9 h4  { background-position: 0 -15.0rem; }
#sponsors .type8 h4  { background-position: 0 -20.0rem; }
#sponsors .type7 h4  { background-position: 0 -25.0rem; }
#sponsors .type6 h4  { background-position: 0 -30.0rem; }
#sponsors .type5 h4  { background-position: 0 -35.0rem; }
#sponsors .type4 h4  { background-position: 0 -40.0rem; }
#sponsors .type3 h4  { background-position: 0 -45.0rem; }

#sponsors .findoutmore {
	padding-top: 3.9rem;
}

#sponsors .detail {
	margin-bottom: 0.3rem;
	font-size: 2rem;
	font-weight: bold;
	color: #666;
}

#sponsors li {
	color: #333;
	clear: both;
	padding: 0.3rem 0;
	margin: 0;
	border-top: 1px solid #e6eef9;
	list-style-type: none;
}

#sponsors li span {
	color: #767676;
	font-size: 1.1rem;
}

// #sponsors .torch li,
// #sponsors .friend li {
// 	list-style-type: none;
// 	display: inline;
// 	margin: 0 1em 0 0;
// 	padding: 0 0 0 0;
// 	border: none;
// }

#sponsors img {
	border: 1px solid #d0d0d0;
	margin: 0 0 0.3rem 0.6rem;
	padding: 0.5rem;
	background-color: #fff;
	width: 7.5rem;
	float: right;
}

#sponsors .comma {
	display: none;
}

/* interior pages */
/* ----------------------------------------------------------------- */

.pagetitle {
	position: relative;
}

.pagetitle h2 {
	height: 4.2rem;
	line-height: 4.2rem;
	background-image: url(../images/s-bigheader.gif);
	background-repeat: no-repeat;
	color: #fff;
	font-size: 2.4rem;
	margin-top: 0.25em;
	margin-bottom: 0.25em;
	font-weight: 400;
}

.pagetitle p {
	position: absolute;
	text-align: left;
	right: 1.1rem;
	top: 1rem;
	height: 3.8rem;
	line-height: 3.8rem;
	color: #fff;
	padding: 0 1rem;
}

.pagetitle a {
	color: #f4d15a;
}

.pagetitle a:focus, .pagetitle a:hover {
	color: #e6eef9;
}

img.inline {
	float: left;
	margin: 0 1.1rem 1.1rem 0;
}

img.inline2 {
	float: right;
	margin: 0 0 1.1rem 1.1rem;
}

h3.pagetitle {
	background-image: url(../images/s-header-friend.gif);
	color: #fff;
	font-size: 1.8rem;
	height: 3.2rem;
	line-height: 3.2rem;
}

.social {
	text-align: center;
}

.social img {
	position: relative;
	top: 0.4em;
}

.notice-box {
  margin: 1rem 0 2.4rem;
  padding: 2rem 2rem 1rem;
  border-radius: 0.5rem;
  border: 0.3rem solid #5082ef;
  background-color: #f3f7fc;
  line-height: 1.6;
}

/* footer */
/* ----------------------------------------------------------------- */

#footer {
	font-size: 1.1rem;
	color: #767676;
	margin: 2.2rem 0 8.8rem;

	.wrapper {
		border-top: 1px solid #eee;
		padding-top: 2.2rem;
	}
	.last {
		text-align: right;
	}
}

/* events */
/* ----------------------------------------------------------------- */

.events-page {
	padding-top: 1em;

	ol, ul {
		margin-top: 0;
		margin-bottom: 0;
	}

	p {
		margin: 1em 0;
	}

	h2 {
		font-size: 3rem;
		margin: 0.5em 0;
	}

	h3 {
		font-size: 2.4rem;
		color: #333;
		margin: 0.5em 0;
	}

	ol ol li {
		list-style-type: lower-alpha;
	}

	ol ol ol li {
		list-style-type: decimal;
	}

}

.breadcrumbs {
	margin: 2em 0;
}
