body {
	text-align: center;
}

.wrapper {
	width: 86.3rem;
	text-align: left;
	margin: 0 auto;
}

.wrapper::after {
	content: "";
	clear: both;
	display: table;
}

.container {
	width: 100%;
	float: left;
}

.container.space {
	margin-bottom: 1.1rem;
}

.container.gap {
	margin-bottom: 2.2rem;
}

.box {
	padding: 0;
	margin-left: 1.1rem;
	float: left;
	list-style-type: none;
	display: inline;
}

.first {
	margin-left: 0;
}

.type1   { width:  6.0rem; }
.type2   { width: 13.1rem; }
.type3   { width: 20.2rem; }
.type4   { width: 27.3rem; }
.type5   { width: 34.4rem; }
.type6   { width: 41.5rem; }
.type7   { width: 48.6rem; }
.type8   { width: 55.7rem; }
.type9   { width: 62.8rem; }
.type10  { width: 69.9rem; }
.type11  { width: 77.0rem; }
.type12  { width: 84.1rem; }

.type1c  { width:  4.0rem; padding: 0 1.0rem; }
.type2c  { width: 11.1rem; padding: 0 1.0rem; }
.type3c  { width: 18.2rem; padding: 0 1.0rem; }
.type4c  { width: 25.3rem; padding: 0 1.0rem; }
.type5c  { width: 32.4rem; padding: 0 1.0rem; }
.type6c  { width: 39.5rem; padding: 0 1.0rem; }
.type7c  { width: 46.6rem; padding: 0 1.0rem; }
.type8c  { width: 53.7rem; padding: 0 1.0rem; }
.type9c  { width: 60.8rem; padding: 0 1.0rem; }
.type10c { width: 67.9rem; padding: 0 1.0rem; }
.type11c { width: 75.0rem; padding: 0 1.0rem; }
.type12c { width: 82.1rem; padding: 0 1.0rem; }

.pad1    { margin-left:  8.2rem; }
.pad2    { margin-left: 15.3rem; }
.pad3    { margin-left: 22.4rem; }
.pad4    { margin-left: 29.5rem; }
.pad5    { margin-left: 36.6rem; }
.pad6    { margin-left: 43.7rem; }
.pad7    { margin-left: 50.8rem; }
.pad8    { margin-left: 57.9rem; }
.pad9    { margin-left: 65.0rem; }
.pad10   { margin-left: 72.1rem; }
.pad11   { margin-left: 79.2rem; }

.pad1f   { margin-left:  7.1rem; }
.pad2f   { margin-left: 14.2rem; }
.pad3f   { margin-left: 21.3rem; }
.pad4f   { margin-left: 28.4rem; }
.pad5f   { margin-left: 35.5rem; }
.pad6f   { margin-left: 42.6rem; }
.pad7f   { margin-left: 49.7rem; }
.pad8f   { margin-left: 56.8rem; }
.pad9f   { margin-left: 63.9rem; }
.pad10   { margin-left: 71.0rem; }
.pad11f  { margin-left: 78.1rem; }

/* grid debug */
/* ----------------------------------------------------------------- */

.grid {
	background-color: #ffe5e5;
}

.grid #wrapper {
	background-image: url(images/grid.gif);
	background-repeat: repeat-y;
	background-position: top center;
}

.grid .container {
	opacity: 0.8;
	filter: alpha(opacity=80);
	background-color: white;
}

.grid .box {
	opacity: 0.8;
	filter: alpha(opacity=80);
	background-color: #aaf;
}
