---
layout: "layout.liquid"
title: "About"
---

<div class="fg">
  <div class="fg-12">
    <h2 class="bg-shiny">About</h2>
  </div>
  <div class="fg-md-6">
    <h3>Georgia Golden Olympics</h3>
    <p>The Georgia Golden Olympics is a statewide event, held this year in the City of Warner Robins, Georgia, for adults 50 years of age or older. The event provides an opportunity to participate in amateur sports competition, to learn new leisure skills, to discover that physical activity is for all ages, to meet new friends and to share good times. More specifically it is an opportunity to have fun!</p>
    <p>A variety of activities are held to make it possible for participation regardless of an individual's age or physical ability. Different age divisions and several levels of ability spread the competition out so there is truly something for everyone.</p>
    <h4>Goals</h4>
    <ol>
      <li>To promote a social, competitive, athletic and recreational experience for older adults;</li>
      <li>To maintain and improve the health and wellness of Georgia's adults;</li>
      <li>To promote and create an interest in lifetime sports, recreation and physical exercise as a means of enhancing one's quality of life; and,</li>
      <li>To create an awareness of the abilities and capabilities of older Georgians.</li>
    </ol>
    <h3>Acknowledgments</h3>
    <p>Without the help and cooperation of many people and agencies, the Golden Olympics would not take place. Our most sincere appreciation is extended to Jarred Reneau, Director, Warner Robins Parks & Recreation Department, Warner Robins Parks & Recreation Department staff, the Georgia Golden Olympics Committee and to the many volunteers who contributed their time and energy to the Georgia Golden Olympics.</p>
    <h3>Sponsors, Coordinating Agencies, and Contributors</h3>
    <p>Thanks to the following companies, organizations and individuals for their generosity and support of the Georgia Golden Olympics.</p>
    <h4>Host Agency</h4>
    <ul>
      <li>Warner Robins Parks & Recreation Department</li>
    </ul>
    <h4>Founding Organizations</h4>
    <ul>
      <li>Georgia Department of Human Resources, Division of Public Health (Presently The Georgia Department of Public Health)</li>
      <li>Georgia Health Care Association</li>
      <li>Georgia Recreation and Park Association, Senior Citizens Section</li>
      <li>Robins Air Force Base, Services Division</li>
      <li>The University of Georgia, JW Fanning Institute for Leadership & Community Development</li>
      <li>Georgia Department of Natural Resources</li>
    </ul>
  </div>
  <div class="fg-0 fg-md-1"></div>
  <div class="fg-md-5">
    <h3>Contact Us</h3>
    <p>The GGO Coordinator is Vicki Pilgrim.</p>
    <dl>
      <dt>Mailing Address</dt>
      <dd>
        <p class="h-card">
          <span class="p-name">Georgia Golden Olympics</span><br>
          <span class="h-adr p-adr">
            <span class="p-street-address">PO Box 958</span><br>
            <span><span class="p-locality">Winder</span>, <span class="p-region">GA</span> <span class="p-postal-code">30680</span></span>
          </span >
        </p>
      </dd>
      <dt>Email Address</dt>
      <dd><a href="mailto:goldenolympics.ga@gmail.com">goldenolympics.ga@gmail.com</a></dd>
      <dt>Phone Number</dt>
      <dd>770-867-3603</dd>
    </dl>
    <h3>Media Kit</h3>
    <p>Please help us promote the Georgia Golden Olympics. The information in this kit may be used to promote the games in your local area. The news release may be adapted for local papers and publications and the flyers may be printed and displayed.</p>
    <p><a href="/files/GGO press release-2023.zip">Download the 2023 Media Kit</a></p>
    <p>Thank you for promoting the Georgia Golden Olympics.</p>
  </div>
</div>
