<div class="fg">
  <div class="fg-12">
    <h2 class="bg-shiny">Contact</h2>
  </div>
  <div class="fg-md-6">
    {% comment %}
    <h3>Contact Us</h3>
    <p>The GGO Coordinator is Vicki Pilgrim.</p>
    <dl>
      <dt>Mailing Address</dt>
      <dd>
        {%- render "ggo-address-card.liquid" %}
      </dd>
      <dt>Email Address</dt>
      <dd><a href="mailto:goldenolympics.ga@gmail.com">goldenolympics.ga@gmail.com</a></dd>
      <dt>Phone Number</dt>
      <dd>770-867-3603</dd>
    </dl>
    {% endcomment %}
    <div class="bg-shiny bg-subdued">
      <h4>Questions? Submit Anytime</h4>
      <p><a class="bg-shiny button-shiny bg-friends" href="https://docs.google.com/forms/d/e/1FAIpQLSfYHNeHF5QVeSyWYnYIZlkpOGlz-jfXL5AJJUEK1oI-vm-6Kg/viewform?usp=header">Athlete Inquiry Form</a></p>
      <p>Responses are provided within 1–2 business days.</p>
    </div>
    <h4>How to Get Support</h4>
    <ul>
      <li>Attend Office Hours for live help</li>
      <li>Use the <a href="https://docs.google.com/forms/d/e/1FAIpQLSfYHNeHF5QVeSyWYnYIZlkpOGlz-jfXL5AJJUEK1oI-vm-6Kg/viewform?usp=header">Athlete Inquiry Form</a> for all other inquiries</li>
      <li>Check your email and this website for important updates</li>
    </ul>
    <p>We understand many participants are accustomed to using email; for the 2026 Games, we ask that all questions be submitted through the communication methods outlined above moving forward.</p>
  </div>

  <div class="fg-0 fg-md-1"></div>

  <div class="fg-md-5">
    <h3>Stay Connected with Georgia Golden Olympics</h3>
    <p>To better support athletes, volunteers, and partners, the Georgia Golden Olympics is using a streamlined communication process for the 2026 Games.</p>
    <div class="bg-shiny bg-subdued">
      <h4>Live Office Hours (Google Meet)</h4>
      <p>Join us for real-time support, weekly on Wednesday, three times in May 2026.</p>
      <ul>
        <li>Wednesday, May 6, 2026 6:30–8:30pm</li>
        <li>Wednesday, May 13, 2026 6:30–8:30pm</li>
        <li>Wednesday, May 20, 2026 6:30–8:30pm</li>
      </ul>
      <p>No office hours the week of May 27.</p>
      <p>
        <a href="http://meet.google.com/snd-reiz-kxw">Join with Google Meet</a><br>
        <a href="http://meet.google.com/snd-reiz-kxw">meet.google.com/snd-reiz-kxw</a>
      </p>
      <p>
        Or join by phone<br>
        (US) +1 320-818-0608 PIN: 252 084 171#
      </p>
    </div>
  </div>

</div>
