---
layout: layout.liquid
title: "Events"
---

<div class="fg section">
  <div class="fg-12">
    <h2 class="bg-shiny">{{title}}</h2>
  </div>
  <div class="fg-12">
    {%- render "events-list.liquid", events: collections.event %}
  </div>
</div>
