---
layout: "layout.liquid"
title: "Home"
---

<div class="fg section">

  <div class="fg-md-5 fg-lg-7 fg-xl-6">

    <div class="fg hero bg-shiny bg-shiny-cover">

      <div class="fg-sm-6 fg-md-12 fg-lg-6">
        <h2>Sept 19–23, 2023</h2>
        <h3>Warner Robins, GA</h3>
        {% comment %} <p><a href="/files/GGO2022results 3-27-23.pdf">2022 Results</p> {% endcomment %}
        <p><a class="bg-shiny bg-shiny-cover button-shiny bg-gold" href="/files/Registration 2023 final.pdf">2023 Registration</a></p>
      </div>

      <div class="fg-sm-6 fg-md-12 fg-lg-6">
        <ul>
          <li><strong><a href="https://www.georgiagoldolympics.com/forms/ggoregistrationform1.php">2023 Online Registration</a></strong></li>
          <li><a href="/files/Rule Book 2023-final.pdf">2023 Event List & Rules</a></li>
          <li><a href="/files/Flyer1-2023.pdf">2023 Flyer</a></li>
          {% comment %} <li><a href="/files/GGO2022results 3-27-23.pdf">2022 Results</a></li> {% endcomment %}
        </ul>
      </div>

    </div>

  </div>

  <div class="fg-md-7 fg-lg-5 fg-xl-6">
    <p>The 2023 Georgia Golden Olympics is scheduled for September 19–23, 2023 in Warner Robins, GA and surrounding areas. Swimming will be hosted by the Jonesboro Parks and Recreation Department at the Steve Lundquist Aquatics Center in Jonesboro, GA. Registration is open as of May 1, 2023.</p>
    <p>Please join us for the competition, fun and fellowship. We look forward to seeing you in September!</p>
  </div>


  <div class="fg-md-6 fg-lg-7">
    <p><strong>Registration is open!</strong></p>
    <p><strong>If you have competed in the Georgia event in prior years, you may <a href="https://www.georgiagoldolympics.com/forms/ggoregistrationform1.php">register online</a>. If not, please print the form from the website and mail with age verification to the address listed in the form.</strong></p>
    <p>The 2022 Georgia Golden Olympics took place September 27 – October 1, 2022 in Warner Robins, GA and surrounding areas. Swimming was hosted by the Jonesboro Parks and Recreation Department and was held at the Steve Lundquist Aquatics Center in Jonesboro, GA.</p>
    <p>The 2022 state games are qualifying games for the 2023 <a href="https://www.nsga.com/" target="_blank">National Senior Games</a>, scheduled for July 7–18, 2023, in the City of Champions, Pittsburgh PA.</p>
    <p>Thank you for joining us for fun, fellowship, and competition!</p>
  </div>

  <div class="fg-0 fg-md-1"></div>

  <div class="fg-md-5 fg-lg-4">
    <p>
      <a href="https://www.nsga.com/" target="_blank">
        <img src="/images/NSGA-Proud-Member-Logo.png" height="102" alt="NSGA Proud Partner" title="NSGA Proud Partner">
      </a>
      <a href="https://www.nsga.com/" target="_blank">
        <img src="/images/NSG-Logo-2023@1x.png" srcset="/images/NSG-Logo-2023@2x.png 2x" alt="2023 NSG Logo" title="2023 National Senior Games">
      </a>
    </p>
    <p>The 2023 <a href="https://www.nsga.com/" target="_blank">National Senior Games</a> is scheduled for July 7–18, 2023, in the City of Champions, Pittsburgh PA. Registration is open for these games. The 2022 Georgia Golden Olympics were a qualifying games for the 2023 National Senior Games.</p>
    <p>
      Follow Georgia Golden Olympics<br>
      <a href="https://twitter.com/gagoldolympics" target="_new"><img src="/images/icon-twitter.png" alt="Twitter" title="Twitter"></a>
      |
      <a href="https://www.facebook.com/pages/Georgia-Golden-Olympics/200148176686061" target="_new"><img src="/images/icon-facebook.png" alt="Facebook" title="Facebook"></a>
    </p>
  </div>

</div>

<div class="fg section">

  <div class="fg-lg-4">
    <h3 class="bg-shiny"><a href="/participate/">Participate</a></h4>
    <p>Are you ready to compete? We have events for every fitness level.</p>
    <ul>
      <li><a href="/files/Registration 2023 final.pdf">2023 Registration Form</a></li>
      <li><a href="https://www.georgiagoldolympics.com/forms/ggoregistrationform1.php">2023 Online Registration</a></li>
      <li><a href="/files/Flyer1-2023.pdf">2023 Flyer</a></li>
      <li><a href="/files/Rule Book 2023-final.pdf">2023 Event List & Rules</a></li>
      <li>
        Cycling Routes:
        <a href="/files/5K and 10K Cycling Route10.pdf">5K & 10K</a>,
        <a href="/files/20K Cycling Route-10.pdf">20K</a>,
        <a href="/files/40K Cycling10.pdf">40K</a>
      </li>
      <li><a href="/files/GGO2022results 3-27-23.pdf">2022 Results</a></li>
      {% comment %} <li><a href="/files/Team Roster Word.pdf">Team Roster</a></li> {% endcomment %}
      {% comment %} <li><a href="/files/2021 results report corrected 11-12-21.pdf">2021 Results</a></li> {% endcomment %}
    </ul>
  </div>

  <div class="fg-lg-4">
    <h3 class="bg-shiny"><a href="/volunteer/">Volunteer</a></h4>
    <p>Want to help out? Here's all the information you'll need.</p>
    <ul>
      <li><a href="/files/Volunteer Packet 2023.pdf">Volunteer Signup Form</a></li>
      <li><a href="/files/Rule Book 2023-final.pdf">2023 Event List & Rules</a></li>
    </ul>
  </div>

  <div class="fg-lg-4">
    <h3 class="bg-shiny"><a href="/sponsor/">Sponsor</a></h4>
    <p>These events could not happen without the help of our generous sponsors.</p>
    <ul>
      <li><a href="https://www.georgiagoldolympics.com/forms/donations/ggodonation.php">Make a donation online!</a></li>
      <li><a href="/files/ggofundbro.pdf">Sponsorship Brochure</a></li>
      <li><a href="/sponsor/">Become a Sponsor!</a></li>
    </ul>
  </div>

</div>

{%- render "sponsors.liquid", sponsors: sponsors %}
