---
layout: "layout.liquid"
title: "Home"
---

<div class="fg section">

  <div class="fg-md-5 fg-lg-7 fg-xl-6">

    <div class="fg hero bg-shiny bg-shiny-cover">

      <div class="fg-sm-6 fg-md-12 fg-lg-6">
        <h2>Sept 17–21, 2024</h2>
        <h3>Warner Robins, GA</h3>
        {% comment %} <p><a class="bg-shiny bg-shiny-cover button-shiny bg-gold" href="/files/results 9-29-23.pdf">2023 Results</a></p> {% endcomment %}
        <p><a class="bg-shiny bg-shiny-cover button-shiny bg-gold" href="/files/Registration 2024-final.pdf">2024 Registration</a></p>
      </div>

      <div class="fg-sm-6 fg-md-12 fg-lg-6">
        <ul>
          <li><strong><a href="https://www.georgiagoldolympics.com/forms/ggoregistrationform1.php">2024 Online Registration</a></strong></li>
          <li><a href="/files/Rule Book 2024-Final.pdf">2024 Event List & Rules</a></li>
          <li><a href="/files/Flyer 1 2024.pdf">2024 Flyer</a></li>
          <li><a href="/files/results 9-29-23.pdf">2023 Results</a></li>
        </ul>
        <p><strong>Event schedule is at the bottom of the <a href="/files/Registration 2024-final.pdf">registration form</a>.</strong></p>
      </div>

    </div>

  </div>

  <div class="fg-0 fg-xl-1"></div>

  <div class="fg-md-7 fg-lg-5">
    <div class="bg-shiny bg-shiny-cover bg-friends-subdued">
      <p>The Georgia Golden Olympics is a statewide event for adults 50 years of age or older. A variety of activities are held to make it possible for participation regardless of an individual's age or physical ability.</p>
      <p><a href="/about/">Learn more about us!</a></p>
    </div>
  </div>

  <div class="fg-md-6 fg-lg-7">
    {%- render "games-description-2024-present.liquid" %}
    <p><strong>Registration is open!</strong></p>
    <p>If you have competed in the Georgia event in prior years, you may <a href="https://www.georgiagoldolympics.com/forms/ggoregistrationform1.php">register online</a>. If not, please print the form from the website and mail with age verification to the address listed in the form.</p>
    {% comment %} <br> {% endcomment %}
    {% comment %} {%- render "follow-ggo.liquid" %} {% endcomment %}
  </div>

  <div class="fg-0 fg-md-1"></div>

  <div class="fg-md-5 fg-lg-4">
    {%- render "ngsa-2025-future.liquid", float: true %}
    <br>
    {%- render "follow-ggo.liquid" %}
  </div>

</div>

<div class="fg section">

  <div class="fg-lg-4">
    <h3 class="bg-shiny"><a href="/participate/">Participate</a></h3>
    <p>Are you ready to compete? We have events for every fitness level.</p>
    <ul>
      <li><a href="/files/Registration 2024-final.pdf">2024 Registration Form</a></li>
      <li><a href="https://www.georgiagoldolympics.com/forms/ggoregistrationform1.php">2024 Online Registration</a></li>
      <li><a href="/files/Rule Book 2024-Final.pdf">2024 Event List & Rules</a></li>
      <li><a href="/files/Flyer 1 2024.pdf">2024 Flyer</a></li>
      <li>
        Cycling Routes:
        <a href="/files/5K and 10K Cycling Route10.pdf">5K & 10K</a>,
        <a href="/files/20K Cycling Route-10.pdf">20K</a>,
        <a href="/files/40K Cycling10.pdf">40K</a>
      </li>
      <li><a href="/files/results 9-29-23.pdf">2023 Results</a></li>
      {% comment %} <li><a href="/files/Team Roster Word.pdf">Team Roster</a></li> {% endcomment %}
    </ul>
  </div>

  <div class="fg-lg-4">
    <h3 class="bg-shiny"><a href="/volunteer/">Volunteer</a></h3>
    <p>Want to help out? Here's all the information you'll need.</p>
    <ul>
      <li><a href="/files/Volunteer Packet 2024 (1).pdf">2024 Volunteer Signup Form</a></li>
      <li><a href="/files/Rule Book 2024-Final.pdf">2024 Event List & Rules</a></li>
    </ul>
  </div>

  <div class="fg-lg-4">
    <h3 class="bg-shiny"><a href="/sponsor/">Sponsor</a></h3>
    <p>These events could not happen without the help of our generous sponsors.</p>
    <ul>
      <li><a href="https://www.georgiagoldolympics.com/forms/donations/ggodonation.php">Make a donation online!</a></li>
      <li><a href="/files/ggofundbro-2024.pdf">Sponsorship Brochure</a></li>
      <li><a href="/sponsor/">Become a Sponsor!</a></li>
    </ul>
  </div>

</div>

{%- render "sponsors.liquid", sponsors: sponsors %}
