---
title: "Home"
---

<div class="fg section">

  <div class="fg-md-6">

    <div class="fg hero bg-shiny">
      <div class="fg-12">
        <h2>Sept 22–26, 2026</h2>
        <h3>Clayton and Henry counties, GA</h3>
        {% comment %} <p><a class="bg-shiny button-shiny bg-gold" href="/files/Results for Web 12-27-24.pdf">2024 Results</a></p> {% endcomment %}
        <p><a class="bg-shiny button-shiny bg-gold" href="https://georgia.fusesport.com/registration/2494/website/">2026 Registration</a></p>
        <ul>
          <li><a href="/files/2026 Schedule for web site-3 4.26.26.pdf">2026 Event Schedule</a></li>
          <li><a href="/files/GGO Flyer 2026. Final FLyer.pdf">2026 Flyer</a></li>
          <li><a href="/files/Results for Web 12-27-24.pdf">2024 Results</a></li>
        </ul>
        <p><strong>Registration is now open.</strong></p>
      </div>
    </div>

    <br>

    {%- render "games-description-2026-during.liquid" %}
    {%- render "follow-ggo.liquid" %}

  </div>


  <div class="fg-md-6 fg-xl-5">
    <div class="bg-shiny bg-banner-subdued">
      <p>The Georgia Golden Olympics is a statewide event for adults 50 years of age or older. A variety of activities are held to make it possible for participation regardless of an individual's age or physical ability.</p>
      <p><a href="/about/">Learn more about us!</a></p>
    </div>
    <br>
    {%- render "ngsa-2027-future.liquid", float: true %}
  </div>

</div>

<div class="fg section">

  <div class="fg-lg-4">
    <h3 class="bg-shiny"><a href="/participate/">Participate</a></h3>
    <p>Are you ready to compete? We have events for every fitness level.</p>
    <ul>
      <li><a href="https://georgia.fusesport.com/registration/2494/website/">2026 Registration</a></li>
      <li><a href="/files/2026 Schedule for web site-3 4.26.26.pdf">2026 Event Schedule</a></li>
      <li><a href="/files/GGO Flyer 2026. Final FLyer.pdf">2026 Flyer</a></li>
      <li><a href="/files/Results for Web 12-27-24.pdf">2024 Results</a></li>
      {% comment %} <li><a href="https://www.georgiagoldolympics.com/forms/ggoregistrationform1.php">2024 Online Registration</a></li> {% endcomment %}
      {% comment %} <li> {% endcomment %}
        {% comment %} Cycling Routes: {% endcomment %}
        {% comment %} <a href="/files/5K and 10K Cycling Route10.pdf">5K & 10K</a>, {% endcomment %}
        {% comment %} <a href="/files/20K Cycling Route-10.pdf">20K</a>, {% endcomment %}
        {% comment %} <a href="/files/40K Cycling10.pdf">40K</a> {% endcomment %}
      {% comment %} </li> {% endcomment %}
      {% comment %} <li><a href="/files/Team Roster Word.pdf">Team Roster</a></li> {% endcomment %}
    </ul>
  </div>

  <div class="fg-lg-4">
    <h3 class="bg-shiny"><a href="/volunteer/">Volunteer</a></h3>
    <p>Want to help out? Here's all the information you'll need.</p>
    <ul>
      <li><a href="/files/Volunteer Packet 2024 (1).pdf">2024 Volunteer Signup Form</a></li>
      <li><a href="/files/Rule Book 2024-Final.pdf">2024 Event List & Rules</a></li>
    </ul>
  </div>

  <div class="fg-lg-4">
    <h3 class="bg-shiny"><a href="/sponsor/">Sponsor</a></h3>
    <p>These events could not happen without the help of our generous sponsors.</p>
    <ul>
      <li><a href="https://www.georgiagoldolympics.com/forms/donations/ggodonation.php">Make a donation online!</a></li>
      <li><a href="/files/ggofundbro-2024.pdf">Sponsorship Brochure</a></li>
      <li><a href="/sponsor/">Become a Sponsor!</a></li>
    </ul>
  </div>

</div>

{%- render "sponsors.liquid", sponsors: sponsors %}
