---
title: "Schedule"
year: 2024
---

<div class="fg section">
  <div class="fg-12">
    <h2 class="bg-shiny">{{ title }} {{ year }}</h2>
  </div>
  <div class="fg-12">
    {%- render "schedule-2024.liquid" %}
  </div>
</div>
