extends /layout.pug

block append variables
  -
    page = 'sponsor';
    title = 'Sponsor';

block content
  #content.container.space
    .wrapper
      .container
        .box.type12.pagetitle
          h2.box.type12c.first Sponsor
      .container.bgline75
        #sponsors.box.type7c
          h3 Levels of Contribution
          p
            img.inline2(src="/images/inline-light.jpg" alt="Lighting the Torch")
            | The Georgia Golden Olympics, (Georgia Golden Games, Inc.) is actively seeking long-range funding and support in order to improve the quality and quantity of events and services, and to increase participation through expanded promotion of the event. There are several levels of contribution with increasing benefits at each level. These contribution levels are as follow:
          table
            tr
              th.corporatetext Corporate Sponsorship
              td $10,000 or more
            tr
              th.platinumtext Platinum
              td $5000 - $9999
            tr
              th.goldtext Gold
              td $2500 - $4999
            tr
              th.silvertext Silver
              td $1000 - $2499
            tr
              th.bronzetext Bronze
              td $500 - $999
            tr
              th.torchtext Torch Club
              td $100 - $499
            tr
              th.friendtext Friend
              td $25 - $99
          p Benefits offered at each level are detailed in the #[a(href="/files/ggofundbro.pdf") Sponsorship Brochure].
        .box.type5c
          h3 Become a Sponsor
          p
            | Georgia Golden Games, Inc. is a 501(c)(3) and is funded by in-kind contributions from the coordinating organizations and by contributions from corporations, community groups and individual friends and supporters interested in improving the health and well being of older adults. Your support is greatly appreciated.
          p If you'd like to be a sponsor, you can donate online at the following link:
          ul: li: a(href="http://www.ggoregistration.org/forms/ggodonation/ggodonation.php") Donate Online
          p You can also print and fill out the following form:
          ul: li: a(href="/files/ggofundbro.pdf") Sponsorship Brochure
          include /reader
