---
title: "Volunteer"
---

<div class="fg">
  <div class="fg-12">
    <h2 class="bg-shiny">Volunteer</h2>
  </div>
  <div class="fg-12">
    <div class="fg wrap-reverse">
      <div class="fg-lg-6 sidebar-lg">
        <h3>We Depend on You</h3>
        <p>For many years the volunteer GGO Planning Committee has been working with organizations throughout the state to promote an interest in lifetime sports, recreation, and physical activity. From the most serious athlete to the determined participant, we offer a wide array of events that provide physical activity, fun and socialization.</p>
        <p>However, the success of this endeavor on the state level is greatly dependent on the help of our wonderful volunteers. Thank you for joining us, and being a part of the 200+ people who give so generously of their time to see and encourage living longer and living better through action, motion, fun, and social interaction. You will be inspired.</p>
        <p>The Georgia Golden Olympics is a member of the National Senior Games Association (NSGA) and is a qualifying site in even years for the NSGA odd year competition. For more information on the NGSA visit <a href="https://www.nsga.com/" target="_blank">www.nsga.com</a>.</p>
      </div>
      <div class="fg-0 fg-lg-1"></div>
      <div class="fg-lg-5">
        <h3>2026 Volunteers</h3>
        <p>The Volunteer signup deadline is <strong>September 1, 2026</strong>. Please register to volunteer, and invite a friend to join you!</p>
        <p>
          <a class="bg-shiny bg-shiny-cover button-shiny bg-gold" href="https://forms.cloud.microsoft/pages/responsepage.aspx?id=nPCbW-t5fUiQq1VS82Jjz2ReG6WKvdVNtsUeTJzXDhZUNks0SU9TMzJTOVpDTzVNUVlGRU40N0FCWi4u&route=shorturl">Individual Volunteer Application</a>
        </p>
        <p>
          <a class="bg-shiny bg-shiny-cover button-shiny bg-gold" href="https://forms.office.com/pages/responsepage.aspx?id=nPCbW-t5fUiQq1VS82Jjz2ReG6WKvdVNtsUeTJzXDhZURTdRUEMyUUVJRTNLTlY5OTVVSDc4NDZGQS4u&route=shorturl">Group Volunteer Application</a>
        </p>
        <hr>
        <h3>Volunteer T-shirts & Check In</h3>
        <p>
          Volunteer T-shirts, and details of your event's specific responsibilities will be given at the registration check-in located at Spivey Splash Water Park before your event. Any questions you may have can be answered at that time.
        </p>
      </div>
    </div>
  </div>
</div>
