<nav>
  <ul>
    {%- for event in events %}
      <li>
        <a href="{{ event.permalink }}"{% if currentPage == event.permalink %} aria-current="page"{% endif %}>
          {{ event.title }}
        </a>
      </li>
    {%- endfor %}
  </ul>
</nav>
