<p>
  Follow Georgia Golden Olympics<br>
  <a href="https://twitter.com/gagoldolympics" target="_new"><img src="/images/icon-twitter.png" alt="Twitter" title="Twitter"></a>
  &nbsp;
  <a href="https://www.facebook.com/pages/Georgia-Golden-Olympics/200148176686061" target="_new"><img src="/images/icon-facebook.png" alt="Facebook" title="Facebook"></a>
</p>
