<p>The 2026 Georgia Golden Olympics is scheduled for September 22-26, 2026 in Clayton and Henry counties, GA.</p>
<p>Registration is now open!</p>
<p>Thank you for joining us for the competition, fun, and fellowship!</p>
