<p>The 2023 Georgia Golden Olympics took place September 19–23, 2023 in Warner Robins, GA and surrounding areas. Swimming was hosted by the Jonesboro Parks and Recreation Department at the Steve Lundquist Aquatics Center in Jonesboro, GA. Registration opened on May 1, 2023.</p>
<p>Thank you for joining us for the competition, fun and fellowship!</p>
