<p>The 2026 Georgia Golden Olympics is scheduled for September 22-26, 2026 in Clayton and Henry counties, GA. Registration opens on May 1, 2026.</p>
<p>Thank you for joining us for the competition, fun, and fellowship!</p>
{% comment %} <p><strong>Registration is open!</strong></p> {% endcomment %}
{% comment %} <p>If you have competed in the Georgia event in prior years, you may <a href="https://www.georgiagoldolympics.com/forms/ggoregistrationform1.php">register online</a>. If not, please print the form from the website and mail with age verification to the address listed in the form.</p> {% endcomment %}
