<p class="h-card">
  <span class="p-name">Georgia Golden Olympics</span><br>
  <span class="h-adr p-adr">
    <span class="p-street-address">127 Jonesboro Rd.</span><br>
    <span class="p-extended-address">Suite 1900</span><br>
    <span><span class="p-locality">Jonesboro</span>, <span class="p-region">GA</span> <span class="p-postal-code">30236</span></span>
  </span >
</p>
