<p class="h-card">
  <span class="p-name">Georgia Golden Olympics</span><br>
  <span class="h-adr p-adr">
    <span class="p-street-address">PO Box 958</span><br>
    <span><span class="p-locality">Winder</span>, <span class="p-region">GA</span> <span class="p-postal-code">30680</span></span>
  </span >
</p>
