---
layout: layout.liquid
title: "Events"
---

{%- unless title == "Events" %}
  <p class="breadcrumbs"><a href="/events/">Events</a> / <a href="{{page.url}}">{{ title }}</a>
{%- endunless %}

{{ content }}
