<p>
  <a href="https://www.nsga.com/" target="_blank">
    <img src="/images/NSGA-Proud-Member-Logo.png" height="102" alt="NSGA Proud Partner" title="NSGA Proud Partner">
  </a>
</p>
<p>The 2023 <a href="https://www.nsga.com/" target="_blank">National Senior Games</a> were held in Pittsburgh, PA on July 7–18. Results, photos, etc can be found on the <a href="https://www.nsga.com/" target="_blank">National Senior Games website</a>. The 2025 <a href="https://www.nsga.com/" target="_blank">National Senior Games</a> will be held in Des Moines, IA. Dates to be determined.</p>
