<p>
  <a href="https://www.nsga.com/" target="_blank"{% if float %} class="float-left"{% endif %}>
    <img src="/images/NSGA-Proud-Member-Logo.png" height="102" alt="NSGA Proud Partner" title="NSGA Proud Partner">
  </a>
{%- unless float %}
</p>
<p>
{%- endunless %}
  The 2025 <a href="https://www.nsga.com/" target="_blank">National Senior Games</a> will be held in Des Moines, Iowa, July 24–August 4, 2025. More information can be found on the <a href="https://www.nsga.com/" target="_blank">National Senior Games</a> website.
</p>
