<p>
  <a href="https://www.nsga.com/" target="_blank"{% if float %} class="float-left"{% endif %}>
    <img src="/images/NSGA-Proud-Member-Logo.png" height="102" alt="NSGA Proud Partner" title="NSGA Proud Partner">
  </a>
{%- unless float %}
</p>
<p>
{%- endunless %}
  The 2027 <a href="https://www.nsga.com/" target="_blank">National Senior Games</a> will be held in Tulsa, Oklahoma, June 30-July 11, 2027. More information can be found on the <a href="https://www.nsga.com/" target="_blank">National Senior Games</a> website.
</p>
