<p>
  <a class="bg-shiny bg-shiny-cover button-shiny bg-gold" href="/files/Registration 2023 final.pdf">
    2023 Registration
  </a>
</p>
<p>
  Returning competitors can <a href="https://www.georgiagoldolympics.com/forms/ggoregistrationform1.php">register online</a>.
</p>
