<p>Returning competitors may <a href="https://www.georgiagoldolympics.com/forms/ggoregistrationform1.php">register online</a>.</p>
<p><a class="bg-shiny bg-shiny-cover button-shiny bg-gold" href="/files/Registration 2024-final.pdf">2024 Registration Form</a></p>
