<p>
  <small>
    <strong>*</strong> National qualifying event<br>
  </small>
</p>

<table>
  <thead>
    <tr><th colspan="3"><h3>Tuesday, September 17, 2024</h3></th></tr>
    <tr><th>Time</th><th>Event</th><th>Location</th></tr>
  </thead>
  <tbody>
    <tr><td>11:00 am</td><td>Check in for Pickleball & Billiards</td><td>North Houston Sports Complex</td></tr>
    <tr><td rowspan="2">12:00 noon</td><td>Billiards *</td><td>B & W Recreation Center</td></tr>
    <tr><td>Pickleball Singles *</td><td>Ted Wright Park</td></tr>
  </tbody>
  <thead>
    <tr><th colspan="3"><h3>Wednesday, September 18, 2024</h3></th></tr>
    <tr><th>Time</th><th>Event</th><th>Location</th></tr>
  </thead>
  <tbody>
    <tr><td>8:00 am</td><td>Check in till 4:00 p.m.</td><td>North Houston Sports Complex</td></tr>
    <tr><td>8:30 am</td><td>Pickleball Doubles *</td><td>Ted Wright Park</td></tr>
    <tr><td rowspan="4">9:00 am</td><td>Archery *</td><td>Tanner Park</td></tr>
    <tr><td>Horseshoes Tournament - Female</td><td>Tanner Park</td></tr>
    <tr><td>Softball Tournament *</td><td>North Houston Sports Complex</td></tr>
    <tr><td>Hammer Throw *</td><td>McConnell Talbert Stadium</td></tr>
    <tr><td rowspan="3">9:30 am</td><td>40K Cycling Road Race *</td><td>Grovania Methodist Church</td></tr>
    <tr><td>Golf Tournament *</td><td>Southern Hills Golf Club</td></tr>
    <tr><td>5000M Racewalk *</td><td>McConnell Talbert Stadium</td></tr>
    <tr><td rowspan="2">11:00 am</td><td>Discus *</td><td>McConnell Talbert Stadium</td></tr>
    <tr><td>Horseshoes Tournament - Male</td><td>Tanner Park</td></tr>
    <tr><td>11:30 am</td><td>1500M Racewalk *</td><td>McConnell Talbert Stadium</td></tr>
    <tr><td>12:00 Noon</td><td>Shuffleboard practice *</td><td>North Houston Sports Complex</td></tr>
    <tr><td>12:30 pm</td><td>Shot Put *</td><td>McConnell Talbert Stadium</td></tr>
    <tr><td rowspan="2">2:00 pm</td><td>5K Cycling - Time Trials *</td><td>Grovania Methodist Church</td></tr>
    <tr><td>Shuffleboard Doubles *</td><td>North Houston Sports Complex</td></tr>
    <tr><td>3:00 pm</td><td>Javelin *</td><td>Tanner Park</td></tr>
  </tbody>
  <thead>
    <tr><th colspan="3"><h3>Thursday, September 19, 2024</h3></th></tr>
    <tr><th>Time</th><th>Event</th><th>Location</th></tr>
  </thead>
  <tbody>
    <tr><td>7:30 am</td><td>Check in till 4:00 pm</td><td>North Houston Sports Complex</td></tr>
    <tr><td>8:00 am</td><td>Shuffleboard Singles - Female *</td><td>North Houston Sports Complex</td></tr>
    <tr><td rowspan="2">8:30 am</td><td>20K Cycling Road Race *</td><td>Grovania Methodist Church</td></tr>
    <tr><td>Pickleball Mixed Doubles *</td><td>Ted Wright Park</td></tr>
    <tr><td rowspan="2">9:00 am</td><td>Softball Tournament *</td><td>North Houston Sports Complex</td></tr>
    <tr><td>Triple Jump *</td><td>McConnell Talbert Stadium</td></tr>
    <tr><td>10:00 am</td><td>Long Jump *</td><td>McConnell Talbert Stadium</td></tr>
    <tr><td>10:30 am</td><td>10K Cycling - Time Trials *</td><td>Grovania Methodist Church</td></tr>
    <tr><td>11:00 am</td><td>High Jump *</td><td>McConnell Talbert Stadium</td></tr>
    <tr><td rowspan="2">12:30 pm</td><td>Bowling Doubles *</td><td>Gold Cup Lanes</td></tr>
    <tr><td>1500M Run *</td><td>McConnell Talbert Stadium</td></tr>
    <tr><td rowspan="2">1:00 pm</td><td>Badminton Singles *</td><td>North Houston Sports Complex</td></tr>
    <tr><td>1500M Power Walk *</td><td>McConnell Talbert Stadium</td></tr>
    <tr><td>1:30 pm</td><td>Shuffleboard Singles - Male *</td><td>North Houston Sports Complex</td></tr>
    <tr><td>2:00 pm</td><td>Badminton Doubles *</td><td>North Houston Sports Complex</td></tr>
    <tr><td rowspan="2">3:00 pm</td><td>Badminton Mixed Doubles *</td><td>North Houston Sports Complex</td></tr>
    <tr><td>Team Bowling</td><td>Gold Cup lanes</td></tr>
    <tr><td>6:30 pm</td><td><strong>Celebration & Parade of (all) Athletes</strong><br>until lighting of the torch & athletes reception</td><td>Wellston Center</td></tr>
    <tr><td>8:00 pm</td><td>Basketball 3-on-3 - Male *</td><td>North Houston Sports Complex</td></tr>
  </tbody>
  <thead>
    <tr><th colspan="3"><h3>Friday, September 20, 2024</h3></th></tr>
    <tr><th>Time</th><th>Event</th><th>Location</th></tr>
  </thead>
    <tr><td>7:30 am</td><td>Check in till 4:00 pm</td><td>North Houston Sports Complex</td></tr>
    <tr><td rowspan="4">8:00 am</td><td>Swimming Pool Opens</td><td>Tommy Stalnaker Aquatic Center</td></tr>
    <tr><td>Cornhole Tournament *</td><td>North Houston Sports Complex</td></tr>
    <tr><td>Tennis Singles *</td><td>Houston County Tennis Complex</td></tr>
    <tr><td>50M Run *</td><td>McConnell Talbert Stadium</td></tr>
    <tr><td rowspan="21">9:00 am</td><td>Swimming 400Y Individual Medley *</td><td>Tommy Stalnaker Aquatic Center</td></tr>
    <tr><td>Swimming 50Y Butterfly *</td><td>Tommy Stalnaker Aquatic Center</td></tr>
    <tr><td>Swimming 50Y Breaststroke *</td><td>Tommy Stalnaker Aquatic Center</td></tr>
    <tr><td>Swimming 100Y Butterfly *</td><td>Tommy Stalnaker Aquatic Center</td></tr>
    <tr><td>Swimming 200Y Individual Medley *</td><td>Tommy Stalnaker Aquatic Center</td></tr>
    <tr><td>Swimming 50Y Freestyle *</td><td>Tommy Stalnaker Aquatic Center</td></tr>
    <tr><td>Swimming 100Y Individual Medley *</td><td>Tommy Stalnaker Aquatic Center</td></tr>
    <tr><td>Swimming 200Y Backstroke *</td><td>Tommy Stalnaker Aquatic Center</td></tr>
    <tr><td>Swimming 200Y Butterfly *</td><td>Tommy Stalnaker Aquatic Center</td></tr>
    <tr><td>Swimming 100Y Breaststroke *</td><td>Tommy Stalnaker Aquatic Center</td></tr>
    <tr><td>Swimming 200Y Freestyle *</td><td>Tommy Stalnaker Aquatic Center</td></tr>
    <tr><td>Swimming 50Y Backstroke *</td><td>Tommy Stalnaker Aquatic Center</td></tr>
    <tr><td>Swimming 100Y Freestyle *</td><td>Tommy Stalnaker Aquatic Center</td></tr>
    <tr><td>Swimming 200Y Breaststroke *</td><td>Tommy Stalnaker Aquatic Center</td></tr>
    <tr><td>Swimming 100Y Backstroke *</td><td>Tommy Stalnaker Aquatic Center</td></tr>
    <tr><td>Swimming 500Y Freestyle *</td><td>Tommy Stalnaker Aquatic Center</td></tr>
    <tr><td>Basketball 3-on-3 - Male *<br>(Number of teams may require play on Saturday)</td><td>North Houston Sports Complex</td></tr>
    <tr><td>Softball Tournament *</td><td>North Houston Sports Complex</td></tr>
    <tr><td>Table Tennis Doubles *</td><td>North Houston Sports Complex</td></tr>
    <tr><td>Volleyball *<br>(Number of teams may require play on Saturday)</td><td>North Houston Sports Complex</td></tr>
    <tr><td>Disc Golf *</td><td>International City Golf Club</td></tr>
    <tr><td>9:30 am</td><td>100M Run *</td><td>McConnell Talbert Stadium</td></tr>
    <tr><td>10:00 am</td><td>Bowling Singles *</td><td>Gold Cup Lanes</td></tr>
    <tr><td rowspan="2">11:00 am</td><td>800M Run *</td><td>McConnell Talbert Stadium</td></tr>
    <tr><td>Table Tennis Mixed Doubles *</td><td>North Houston Sports Complex</td></tr>
    <tr><td>12:00 noon</td><td>Tennis Mixed Doubles *</td><td>Houston County Tennis Complex</td></tr>
    <tr><td>12:30 pm</td><td>400 M Run *</td><td>McConnell Talbert Stadium</td></tr>
    <tr><td>1:00 pm</td><td>Bowling Mixed Doubles *</td><td>Gold Cup Lanes</td></tr>
    <tr><td>1:30 pm</td><td>200M Run *</td><td>McConnell Talbert Stadium</td></tr>
    <tr><td>2:15 pm</td><td>Table Tennis Singles *</td><td>North Houston Sports Complex</td></tr>
    <tr><td>4:00 pm</td><td>Tennis Doubles *</td><td>Houston County Tennis Complex</td></tr>
    <tr><td>6:30 pm</td><td><strong>Dinner - Theme: “Team Spirit”</strong></td><td>Wellston Center</td></tr>
  </tbody>
  <thead>
    <tr><th colspan="3"><h3>Saturday, September 21, 2024</h3></th></tr>
    <tr><th>Time</th><th>Event</th><th>Location</th></tr>
  </thead>
  <tbody>
    <tr><td rowspan="5">8:00 am</td><td>Check in till 10:00 am</td><td>North Houston Sports Complex</td></tr>
    <tr><td>1 Mile Run *</td><td>North Houston Sports Complex</td></tr>
    <tr><td>5K Run *</td><td>North Houston Sports Complex</td></tr>
    <tr><td>Basketball Three Point *</td><td>North Houston Sports Complex</td></tr>
    <tr><td>Tennis Finals *</td><td>Houston County Tennis Complex</td></tr>
    <tr><td rowspan="2">8:30 am</td><td>5K Power Walk *</td><td>North Houston Sports Complex</td></tr>
    <tr><td>Racquetball - Singles *</td><td>Robins AFB Fitness Center</td></tr>
    <tr><td rowspan="3">9:00 am</td><td>Basketball 3-on-3 - Female *</td><td>North Houston Sports Complex</td></tr>
    <tr><td>Frisbee Throw</td><td>North Houston Sports Complex</td></tr>
    <tr><td>Wii Bowling</td><td>North Houston Sports Complex</td></tr>
    <tr><td rowspan="2">10:00 am</td><td>Football Throw</td><td>North Houston Sports Complex</td></tr>
    <tr><td>½ Mile Walk</td><td>North Houston Sports Complex</td></tr>
    <tr><td rowspan="2">10:30 am</td><td>Checkers</td><td>North Houston Sports Complex</td></tr>
    <tr><td>Racquetball Mx Dbls</td><td>Robins AFB Fitness Center</td></tr>
    <tr><td rowspan="2">11:00 am</td><td>Clock Golf</td><td>North Houston Sports Complex</td></tr>
    <tr><td>Wheelchair Race</td><td>North Houston Sports Complex</td></tr>
    <tr><td>11:30 am</td><td>Softball Throw</td><td>North Houston Sports Complex</td></tr>
    <tr><td>12:00 noon</td><td>Racquetball Doubles *</td><td>Robins AFB Fitness Center</td></tr>
    <tr><td rowspan="2">1:00 pm</td><td>Basketball Free Throw *</td><td>North Houston Sports Complex</td></tr>
    <tr><td>Horseshoe Toss</td><td>North Houston Sports Complex</td></tr>
  </tbody>
</table>

<h3>Addresses</h3>
<table>
  <tbody>
    <tr><td>B & W Recreation Center</td><td>116 Peacock Drive, Warner Robins, GA 31088</td></tr>
    <tr><td>Gold Cup Lanes</td><td>1041 Russell Parkway, Warner Robins, 31088</td></tr>
    <tr><td>Grovania Methodist Church</td><td>500 Grovania Methodist Church, Hawkinsville, GA 31036<br>(Nearest Lodging is in Perry, GA)</td></tr>
    <tr><td>Houston County Tennis Complex</td><td>101 Bear Country Blvd, Warner Robins, GA</td></tr>
    <tr><td>International City Golf Club</td><td>72 Play Golf Drive, Warner Robins, GA</td></tr>
    <tr><td>McConnell Talbert Stadium</td><td>401 S Davis Dr, Warner Robins, GA 31088</td></tr>
    <tr><td>North Houston Sports Complex</td><td>900 North Houston Road, Warner Robins, GA 31093</td></tr>
    <tr><td>Robins AFB Fitness Center</td><td>826 Eighth Street, Robins AFB, GA 31098</td></tr>
    <tr><td>Southern Hills Golf Club</td><td>360 Warner Robins Hwy, Hawkinsville, GA 31036</td></tr>
    <tr><td>Tanner Park</td><td>200 Carl Vinson Parkway, Warner Robins, GA 31088</td></tr>
    <tr><td>Ted Wright Park</td><td>2841 Moody Road, Bonaire, GA 31005</td></tr>
    <tr><td>Tommy Stalnaker Aquatic Center</td><td>210 Cohen Walker Drive, Warner Robins, GA 31088</td></tr>
    <tr><td>Wellston Center</td><td>155 Maple Street, Warner Robins, GA 31093</td></tr>
  </tbody>
</table>
