extends partials/layout.pug

block content
  #content.container.space

    #infobar.container.space
      .box.type5
        .container.maininfo
          h2.box.type5c.first September 27-30, 2017
          h3.box.type5c.first Warner Robins, GA
          p.box.type2.first
            a#appbutton(href='files/2017 results-corrected 11-6-17.pdf') #[span 2017] Results
          .box.type3c
            ul
              li: a(href='files/Rule Book 2017 (FINAL OFFICIAL)1.pdf') 2017 Event List and Rules
              li: a(href='files/July 2017 ggo newletter.pdf') July 2017 Newsletter
              li: a(href='files/2017 Golden Games Map.pdf') Event Map
              li: a(href='files/results report web 10-30-16.pdf') 2016 Results
        .container.lowerinfo
          .box.type5c.first
            p The 2018 Georgia Golden Olympics will be held in September in Warner Robins, GA. Exact dates to be determined. The 2018 games will be the qualifying games for the 2019 National Senior Games. Join us for fun, fellowship, and competition.
            p Returning competitors can #[a(href='http://ggoregistration.org/forms/ggoregistrationform1/ggoregistrationform1.php') register online].
      .box.type7
        .container
          #picfade.box.type7.first
            img#defaultpic(src='images/stack1.jpg', alt='', title='')
          .social
            .box.type7c.first
              p.detail Follow Georgia Golden Olympics on #[a(href='http://twitter.com/gagoldolympics' target='_new') #[img(src='images/icon-twitter.png' alt='Twitter' title='Twitter')]] and #[a(href='http://www.facebook.com/pages/Georgia-Golden-Olympics/200148176686061' target='_new') #[img(src='images/icon-facebook.png' alt='Facebook' title='Facebook')]]
      .container
        .box.type7c
          p #[a(href='http://www.nsga.com/') #[img.inline(src='images/nsga.gif' alt='NSGA Logo' title='National Senior Games Association')] #[img.inline(src='images/nsg19.png' alt='2017 NSG Logo' title='2017 National Senior Games')]]
          p The 2019 #[a(href='http://www.nsga.com/' target='_blank') National Senior Games] is scheduled for June 14-25, 2019 in Albuquerque, NM.

    #types.container.gap.bg444

      .box.type4.participate
        h4.box.type4c.first
          a(href='participate.html') Participate
        .box.type4c.first
          p Are you ready to compete? We have events for every fitness level.
          ul
            li: a(href='files/2017 results-corrected 11-6-17.pdf') 2017 Results
            li: a(href='files/Rule Book 2017 (FINAL OFFICIAL)1.pdf') 2017 Event List and Rules
            li: a(href='files/July 2017 ggo newletter.pdf') July 2017 Newsletter
            li: a(href='files/2017 Golden Games Map.pdf') Event Map
            li: a(href='files/results report web 10-30-16.pdf') 2016 Results

      .box.type4.volunteer
        h4.box.type4c.first
          a(href='volunteer.html') Volunteer
        .box.type4c.first
          p Want to help out? Here's all the information you'll need.
          ul
            li: a(href='files/2017 GGO Volunteer Packet.pdf') 2017 Volunteer Signup Form
            li: a(href='files/Rule Book 2017 (FINAL OFFICIAL)1.pdf') 2017 Event List and Rules
            li: a(href='files/2017 Golden Games Map.pdf') Event Map

      .box.type4.sponsor
        h4.box.type4c.first
          a(href='sponsor.html') Sponsor
        .box.type4c.first
          p These events could not happen without the help of our generous sponsors.
          ul
            li: a(href='http://www.ggoregistration.org/forms/ggodonation/ggodonation.php') Make a donation online!
            li: a(href='files/ggofundbro.pdf') Sponsorship Brochure
            li: a(href='sponsor.html') Become a Sponsor!

    .box.type12c
      .container
        include partials/reader

    #sponsors
      .container.pagetitle.space
        h2.box.type12c 2017 Sponsors
        p Want to be a sponsor? #[a(href='http://www.ggoregistration.org/forms/ggodonation/ggodonation.php') Make a donation online!]

      .container.bg12.space

        .box.type12.corporate
          h4.box.type12c.first Corporate Sponsors
          .box.type12c.first
            p.detail $10,000 or more
            ul
              li
                img(src='images/sponsors/DPH_Logo_Small_resized.jpg', alt='Georgia Department of Public Health Breast and Cervical Cancer Program', title='Georgia Department of Public Health Breast and Cervical Cancer Program')
                |  Georgia Department of Public Health Breast and Cervical Cancer Program

      .container.bg66.space

        .box.type6.platinum
          h4.box.type6c.first Platinum Sponsors
          .box.type6c.first
            p.detail $5000-$9999
            ul
              li Warner Robins Recreation Department #[span Host Agency]
              li
                img(src='images/sponsors/ORU_FINAL-NEW-2017-resized.png', alt='Flint Energies Operation Round Up', title='Flint Energies Operation Round Up')
                |  Flint Energies Operation Round Up

        .box.type6.gold
          h4.box.type6c.first Gold Sponsors
          .box.type6c.first
            p.detail $2500-$4999
            ul
              li The Miles Group #[span Snellville]
              li First Christian Church #[span Winder]
              li: a(href='http://www.hhc.org/', target='_new')
                  img(src='images/sponsors/HHC-new-logo-2016_resized.png', alt='Houston Healthcare', title='Houston Healthcare')
                  |  Houston Healthcare
              li
                img(src='images/sponsors/hum_reg_lrg_4cp_pos_wht-resized.png', alt='Humana, Inc.', title='Humana, Inc.')
                |  Humana, Inc. #[span Market Point]

      .container.bg66.space

        .box.type6.silver
          h4.box.type6c.first Silver Sponsors
          .box.type6c.first
            p.detail $1000-$2499
            ul
              li Georgia Department of Public Health
              li
                img(src='images/sponsors/WRCVB_Logo_resized.png', alt='Convention and Visitors Bureau', title='Convention and Visitors Bureau')
                |  Convention and Visitors Bureau #[span City of Warner Robins]
              li Dr. John & Sally Taylor #[span Atlanta]
              li
                img(src='images/sponsors/Cox_Communications_(logo).svg_resized.png', alt='Cox Communications', title='Cox Communications')
                |  Cox Communications
              li Georgia Health Care Association

        .box.type6.bronze
          h4.box.type6c.first Bronze Sponsors
          .box.type6c.first
            p.detail $500-$999
            ul
              li Comfort Inn and Suites Hwy 247 #[span Warner Robins]
              li
                img(src='images/sponsors/Publix-logo-2-color_resized.png', alt='Publix Super Markets Charities', title='Publix Super Markets Charities')
                |  Publix Super Markets Charities
              li Tom Gill #[span Madison, AL]
              li
                img(src='images/sponsors/CCF-logo-resized.jpg', alt='Cresswind LL Community Fund', title='Cresswind LL Community Fund')
                |  Cresswind LL Community Fund #[span Gainesville, Hall County]
              li Mike Perry & Associates #[span Primerica - Warner Robins]
              li
                img(src='images/sponsors/eon-health-resized.png', alt='Eon Health', title='Eon Health')
                |  Eon Health

      .container.bg66.space

        .box.type6.torch
          h4.box.type6c.first Torch Club
          .box.type6c.first
            p.detail $100-$499
            ul
              li Robert & Faye Buckham #[span Canton]
              li Lola & Lanny Frost #[span Warner Robins]
              li Ryan & Marty Beighley #[span The Villages, FL]
              li Jewel Crews #[span Waycross]
              li James & Jo Thwing #[span Warner Robins]
              li Dianne Julia Hulsey #[span Milledgeville]
              li Bud & Barbara Frankenthaler #[span Jesup]
              li Sue Hesse #[span Stone Mountain - in memory of Robert Lloyd & Nannette Todd]
              li James & Miriam Novak #[span Bainbridge]
              li Lester Culver #[span Ludowici]
              li Harry Lowe #[span Albany]
              li Lois Maat Roberts #[span Statesboro]
              li Shawn Smith #[span Dacula]
              li Vicki Pilgrim #[span in memory of Lola Frost]
              li Georgia Health Care Association #[span in memory of Lola Frost]
              li Carol Waddell #[span Rome]
              li Jan Tatch #[span Alma - in memory of Lola Frost]
              li Will & Annie Smith #[span Carrollton]
              li Mary Ealer #[span Warner Robins - in memory of Lola Frost]
              li Don Tate #[span Bonaire]
              li Joyce White #[span Oxford]
              li Jerry Peterson #[span Atlanta]
              li Kristin Phaneuf #[span Omaha, NE - in memory of Lola Frost]
              li Chuck Shaheen #[span Warner Robins]

        .box.type6.friend
          h4.box.type6c.first Friends
          .box.type6c.first
            p.detail $25-$99
            ul
              li Gordon G Darrah #[span Columbus]
              li Gene Payne #[span Montgomery, AL]
              li Dean Godwin #[span Aiken, SC]
              li Ned Sanders #[span Warner Robins]
              li Brian Stockmaster #[span Charleston, SC]
              li Bonnie Romines #[span Byron]
              li James Hodges #[span Monroe]
              li Robert Jackson #[span Lawrenceville]
              li John Montgomery #[span St. Simons]
              li Andrew Mason #[span Evans]
              li Anthony Willis #[span Winston]
              li Jim Haley #[span Lilburn]
              li Neil Coleman #[span Jonesboro]
              li Peggy Moyer #[span Warner Robins]
              li Lee Howington #[span Lilburn]
              li Ed & Karen Brown #[span Colbert]
              li Vicki Pilgrim #[span in memory of David B Hinderliter]
              li Jan Alexuk #[span Hinesville]
              li Tim Mahaffey #[span The Villages, FL]
              li James V White #[span Gray]
              li Clifford Hunter #[span Stockbridge]
              li Ellen Briggs #[span Demorest]
              li Mark Walton #[span Warner Robins]
              li Marshall Martin #[span The Villages, FL]
              li Sanford Stoddard #[span Candler, NC]
              li Nancy P Lewis #[span Atlanta]
              li Jeffrey Lockett #[span Snellville]
              li Judy & Lloyd Britt
              li Bill Papciak #[span Gainesville]
              li Annaliese Sager #[span Winter Have, FL]
              li Randall Neff #[span Byron]
              li George W. Marlow, III #[span Lawrenceville]
              li Linda Lowery #[span Smyrna]
              li Allen Kenroy #[span Austin, TX]
              li Frank & Kay Dibianca #[span Memphis, TN]

