extends partials/layout.pug

block content
  #content.container.space

    #infobar.container.space
      .box.type5
        .container.maininfo
          h2.box.type5c.first September 27-30, 2017
          h3.box.type5c.first Warner Robins, GA
          p.box.type2.first
            a#appbutton(href='files/GGOApp2017-fINAL.pdf') <span>2017</span> Application
          .box.type3c
            ul
              li
                a(href='files/Rule Book 2017 (FINAL OFFICIAL)1.pdf') 2017 Event List and Rules
              li
                a(href='files/results report web 10-30-16.pdf') 2016 Results
              li
                a(href='files/January 2017 Newsletter.pdf') January 2017 Newsletter
              li
                a(href='files/2016 Warner Robins Map.pdf') Event Map
        .container.lowerinfo
          .box.type5c.first
            p Returning competitors can <a href='http://ggoregistration.org/forms/ggoregistrationform1/ggoregistrationform1.php'>register online</a>.
            p The 2017 Georgia Golden Olympics is scheduled for September 27-30, 2017 in Warner Robins, GA. Join us for fun, fellowship, and competition.
            p <a href='http://www.nsga.com/'><img class='inline' src='images/nsga.gif' alt='NSGA Logo' title='National Senior Games Association' /> <img class='inline' src='images/NSG17_FINAL.png' alt='NSGA Logo' alt='National Senior Games Logo' title='National Senior Games' /></a> The 2017 <a href='http://www.nsga.com/' target='_blank'>National Senior Games</a> is scheduled for June 2017 in Birmingham, AL.
      .box.type7
        .container
          #picfade.box.type7.first
            img#defaultpic(src='images/stack1.jpg', alt='', title='')
          .social
            .box.type7c.first
              p.detail Follow Georgia Golden Olympics on <a href='http://twitter.com/gagoldolympics' target='_new'><img src='images/icon-twitter.png' alt='Twitter' title='Twitter' /></a> and <a href='http://www.facebook.com/pages/Georgia-Golden-Olympics/200148176686061' target='_new'><img src='images/icon-facebook.png' alt='Facebook' title='Facebook' /></a>

    #types.container.gap.bg444

      .box.type4.participate
        h4.box.type4c.first
          a(href='participate.html') Participate
        .box.type4c.first
          p Are you ready to compete? We have events for every fitness level.
          ul
            li
              a(href='files/GGOApp2017-fINAL.pdf') 2017 Application
            li
              a(href='files/Rule Book 2017 (FINAL OFFICIAL)1.pdf') 2017 Event List and Rules
            li
              a(href='files/January 2017 Newsletter.pdf') January 2017 Newsletter
            li
              a(href='files/2016 Warner Robins Map.pdf') Event Map
            li
              a(href='files/results report web 10-30-16.pdf') 2016 Results

      .box.type4.volunteer
        h4.box.type4c.first
          a(href='volunteer.html') Volunteer
        .box.type4c.first
          p Want to help out? Here's all the information you'll need.
          ul
            li
              a(href='files/Rule Book 2017 (FINAL OFFICIAL)1.pdf') 2017 Event List and Rules
            li
              a(href='files/2016 revised GGO Volunteer Form Final-August.pdf') Volunteer Signup Form
            li
              a(href='files/2013 Warner Robins Map.pdf') Event Map

      .box.type4.sponsor
        h4.box.type4c.first
          a(href='sponsor.html') Sponsor
        .box.type4c.first
          p These events could not happen without the help of our generous sponsors.
          ul
            li
              a(href='http://www.ggoregistration.org/forms/ggodonation/ggodonation.php') Make a donation online!
            li
              a(href='files/ggofundbro.pdf') Sponsorship Brochure
            li
              a(href='sponsor.html') Become a Sponsor!

    .box.type12c
      .container
        include partials/reader

    #sponsors
      .container.pagetitle.space
        h2.box.type12c 2016 Sponsors
        p Want to be a sponsor? <a href='http://www.ggoregistration.org/forms/ggodonation/ggodonation.php'>Make a donation online!</a>

      .container.bg12.space

        .box.type12.corporate
          h4.box.type12c.first Corporate Sponsors
          .box.type12c.first
            p.detail $10,000 or more
            ul
              li
                img(src='images/sponsors/DPH_Logo_Small_resized.jpg', alt='Georgia Department of Public Health Breast and Cervical Cancer Program', title='Georgia Department of Public Health Breast and Cervical Cancer Program')
                |  Georgia Department of Public Health Breast and Cervical Cancer Program

      .container.bg66.space

        .box.type6.platinum
          h4.box.type6c.first Platinum Sponsors
          .box.type6c.first
            p.detail $5000-$9999
            ul
              li Warner Robins Recreation Department <span>Host Agency</span>

        .box.type6.gold
          h4.box.type6c.first Gold Sponsors
          .box.type6c.first
            p.detail $2500-$4999
            ul
              li The Miles Group <span>Snellville</span>
              li First Christian Church <span>Winder</span>
              li
                a(href='http://www.hhc.org/', target='_new')
                  img(src='images/sponsors/HHC-new-logo-2016_resized.png', alt='Houston Healthcare', title='Houston Healthcare')
                  |  Houston Healthcare
              li
                img(src='images/sponsors/hum_reg_lrg_4cp_pos_wht-resized.png', alt='Humana, Inc.', title='Humana, Inc.')
                |  Humana, Inc. <span>Market Point</span>

      .container.bg66.space

        .box.type6.silver
          h4.box.type6c.first Silver Sponsors
          .box.type6c.first
            p.detail $1000-$2499
            ul
              li Georgia Department of Public Health
              li
                img(src='images/sponsors/WRCVB_Logo_resized.png', alt='Convention and Visitors Bureau', title='Convention and Visitors Bureau')
                |  Convention and Visitors Bureau <span>City of Warner Robins</span>
              li Dr. John & Sally Taylor <span>Atlanta</span>
              li
                img(src='images/sponsors/Cox_Communications_(logo).svg_resized.png', alt='Cox Communications', title='Cox Communications')
                |  Cox Communications

        .box.type6.bronze
          h4.box.type6c.first Bronze Sponsors
          .box.type6c.first
            p.detail $500-$999
            ul
              li Comfort Inn and Suites Hwy 247 <span>Warner Robins</span>
              li
                img(src='images/sponsors/Publix-logo-2-color_resized.png', alt='Publix Super Markets Charities', title='Publix Super Markets Charities')
                |  Publix Super Markets Charities
              li Tom Gill <span>Madison, AL</span>
              li Cresswind LL Community Fund <span>Gainesville, Hall County</span>

      .container.bg66.space

        .box.type6.torch
          h4.box.type6c.first Torch Club
          .box.type6c.first
            p.detail $100-$499
            ul
              li Robert & Faye Buckham <span>Canton</span>
              li Lola & Lanny Frost <span>Warner Robins</span>
              li Ryan & Marty Beighley <span>The Villages, FL</span>
              li Jewel Crews <span>Waycross</span>
              li James & Jo Thwing <span>Warner Robins</span>
              li Dianne Julia Hulsey <span>Milledgeville</span>
              li Bud & Barbara Frankenthaler <span>Jesup</span>
              li Sue Hesse, In Memory of Robert Lloyd & Nannette Todd <span>Stone Mountain</span>
              li James & Miriam Novak <span>Bainbridge</span>
              li Lester Culver <span>Ludowici</span>
              li Harry Lowe <span>Albany</span>
              li Lois Maat Roberts <span>Statesboro</span>
              li Shawn Smith

        .box.type6.friend
          h4.box.type6c.first Friends
          .box.type6c.first
            p.detail $25-$99
            ul
              li Gordon G Darrah <span>Columbus</span>
              li Gene Payne <span>Montgomery, AL</span>
              li Dean Godwin <span>Aiken, SC</span>
              li Ned Sanders <span>Warner Robins</span>
              li Brian Stockmaster <span>Charleston, SC</span>
