extends partials/layout.pug

block content
  #content.container.space
    .container
      .box.type12.pagetitle
        h2.box.type12c.first Participate
    .container.bgline75
      .box.type7
        .container
          .box.type7c.first
            h3 2018 Georgia Golden Olympics
            p #[img.inline2(src='images/inline-jump.jpg', alt='Long Jump')] The 2018 Georgia Golden Olympics will be held September 26-29, 2018 in Warner Robins, GA. The Warner Robins Recreation Department, under the direction of Mr. Jarred Reneau, graciously agreed to host the 2018 event for the 17<sup>th</sup> consecutive year. Join us for fun, fellowship, and competition.
            p Anyone 50 and over could compete in the Georgia Golden Olympics by completing a registration form and sending required documentation of age with registration form to:
            p Georgia Golden Olympics#[br]PO Box 958#[br]Winder, GA 30680
            p Returning competitors can #[a(href='http://ggoregistration.org/forms/ggoregistrationform1/ggoregistrationform1.php') register online].
        dl.container
          dt.box.type4c.first Deadline for Early Registration
          dd.box.type3c August 1, 2017
          dt.box.type4c.first Registration with late fee until
          dd.box.type3c August 15, 2017
        .container
          .box.type7c.first

            h4 2017
            ul
              li: a(href='files/2017 results-corrected 11-6-17.pdf') 2017 Results
              li: a(href='files/GGOApp2017-fINAL.pdf') 2017 Application
              li: a(href='files/Rule Book 2017 (FINAL OFFICIAL)1.pdf') 2017 Event List and Rules
              li: a(href='files/July 2017 ggo newletter.pdf') July 2017 Newsletter
              li: a(href='files/January 2017 Newsletter.pdf') January 2017 Newsletter
              li: a(href='files/2017 Golden Games Map.pdf') Event Map
              li Cycling Routes: <a href='files/5K and 10K Cycling Route10.pdf'>5K & 10K</a>, <a href='files/20K Cycling Route-10.pdf'>20K</a>, <a href='files/40K Cycling10.pdf'>40K</a>

            h4 2016
            ul
              li: a(href='files/results report web 10-30-16.pdf') 2016 Results
              li: a(href='files/GGOApp2016-web.pdf') 2016 Application
              li: a(href='files/Rule Book 2016 _FINAL OFFICIAL_ _1_.pdf') 2016 Event List and Rules
              li: a(href='files/schedule-2016.pdf') 2016 Event Schedule
              li: a(href='files/May 16 newsletter.pdf') May 2016 Newsletter
              li: a(href='files/Jan Newsletter.pdf') January 2016 Newsletter
              li: a(href='files/2016 Warner Robins Map.pdf') Event Map
              li: a(href='files/Team Roster Word.pdf') Team Roster
              li Cycling Routes: <a href='files/5K and 10K Cycling Route10.pdf'>5K & 10K</a>, <a href='files/20K Cycling Route-10.pdf'>20K</a>, <a href='files/40K Cycling10.pdf'>40K</a>

            h4 2015
            ul
              li: a(href='files/Event results 11-29-15.pdf') 2015 Results
              li: a(href='files/GGOApp2015-final.pdf') 2015 Application
              li: a(href='files/2015 July Newsletter.pdf') July 2015 Newsletter
              li: a(href='files/Rule Book 2015-Final.pdf') Event List and Rules
              li: a(href='files/2015 Jan newsletter.pdf') January 2015 Newsletter
              li: a(href='files/Team Roster Word.pdf') Team Roster
              li Cycling Routes: <a href='files/5K and 10K Cycling Route10.pdf'>5K & 10K</a>, <a href='files/20K Cycling Route-10.pdf'>20K</a>, <a href='files/40K Cycling10.pdf'>40K</a>

            h4 2014
            ul
              li: a(href='files/ALL Results11-24-14.pdf') 2014 Results
              li: a(href='files/GGOApp2014.pdf') 2014 Application
              li: a(href='files/2014 GGO Rule Book.pdf') Event List and Rules
              li: a(href='files/Team Roster Word.pdf') Team Roster
              li: a(href='files/2013 Warner Robins Map.pdf') Map
              li Cycling Routes: <a href='files/5K and 10K Cycling Route10.pdf'>5K & 10K</a>, <a href='files/20K Cycling Route-10.pdf'>20K</a>, <a href='files/40K Cycling10.pdf'>40K</a>

            h4 2013
            ul
              li: a(href='files/December 2013 newsletter.pdf') December 2013 Newsletter
              li: a(href='files/Results report 2013.pdf') 2013 Results
              li: a(href='files/GGOApp2013-1.pdf') 2013 Application
              li: a(href='files/March 2013 newsletter.pdf') March 2013 Newsletter
              li: a(href='files/Team Roster Word.pdf') Team Roster
              li: a(href='files/2013 Warner Robins Map.pdf') Map
              li Cycling Routes: <a href='files/5K and 10K Cycling Route10.pdf'>5K & 10K</a>, <a href='files/20K Cycling Route-10.pdf'>20K</a>, <a href='files/40K Cycling10.pdf'>40K</a>

            h4 2012
            ul
              li: a(href='files/Results report final 5-15-13.pdf') 2012 Results
              li: a(href='files/GGOApp2012.pdf') 2012 Application
              li: a(href='files/july newsletter2012.pdf') July 2012 Newsletter
              li: a(href='files/GGO March Newsletter2012.pdf') March 2012 Newsletter
              li: a(href='files/2012 GGO Rule Book Final4-12.pdf') Event List and Rules
              li: a(href='files/Team Roster Word.pdf') Team Roster
              li: a(href='files/2012 Warner Robins Map.pdf') Map
              li Cycling Routes: <a href='files/5K and 10K Cycling Route10.pdf'>5K & 10K</a>, <a href='files/20K Cycling Route-10.pdf'>20K</a>, <a href='files/40K Cycling10.pdf'>40K</a>

            h4 2011
            ul
              li <a href='files/2011 results for web.pdf'>2011 Results</a> (<a href='files/2011 results for web.pdf'>PDF</a> / <a href='files/2011 results for web.xlsx'>Excel</a>)
              li: a(href='files/GGOApp2011.pdf') 2011 Application
              li: a(href='files/ggo october newsletter2.pdf') October 2011 Newsletter
              li: a(href='files/2011 Rule Book.pdf') 2011 Rule Book
              li: a(href='files/Team Roster Word.pdf') Team Roster
              li: a(href='files/2010 Warner Robins Map.pdf') Map

            h4 2010
            ul
              li: a(href='files/results for website.pdf') 2010 Results
              li: a(href='files/january2010 newsletter for web.pdf') 2010 Newsletter
              li: a(href='files/2010 GGO Rulebook-new logo.pdf') Event List and Rules
              li: a(href='files/Team Roster Word.pdf') Team Roster
              li: a(href='files/2010 Warner Robins Map.pdf') Map

            h4 Older
            ul
              li: a(href='files/2009 Results for Web.pdf') 2009 Results
              li: a(href='files/NEWSLETTER-2008 RESULTS1.pdf') 2009 Newsletter and 2008 Results
              li: a(href='files/2008 newsletterfinal.pdf') 2008 Newsletter and 2007 Results

            include partials/reader

      .box.type5c
        h3 2019 National Senior Games
        .container
          p #[a(href='http://www.nsga.com/') #[img.inline(src='images/nsg19.png', alt='National Senior Games Logo', title='National Senior Games')]] The 2018 games will be the qualifying games for the 2019 National Senior Games. The 2019 National Senior Games is scheduled for June 14-25, 2019 in Albuquerque, NM.
        .container
          p #[a(href='http://www.nsga.com/') #[img.inline(src='images/nsga.gif', alt='NSGA Logo', title='National Senior Games Association')]] For more information on the National Senior Games Association, visit #[a(href='http://www.nsga.com/') www.nsga.com].
