extends partials/layout.pug

block content
  #content.container.space
    .container
      .box.type12.pagetitle
        h2.box.type12c.first Volunteer
    .container.bgline75
      .box.type7c
        h3 We Depend on You
        p
          img.inline2(src="images/inline-greet.jpg", alt="Helping Hands")
          |  For many years the volunteer GGO Planning Committee has been working with organizations throughout the state to promote an interest in lifetime sports, recreation, and physical activity. From the most serious athlete to the determined participant, we offer a wide array of events that provide physical activity, fun and socialization.
        p However, the success of this endeavor on the state level is greatly dependent on the help of our wonderful volunteers. Thank you for joining us, and being a part of the 200+ people who give so generously of their time to see and encourage living longer and living better through action, motion, fun, and social interaction. You will be inspired.
        p The Georgia Golden Olympics is a member of the National Senior Games Association (NSGA) and is a qualifying site in even years for the NSGA odd year competition. For more information on the NGSA visit #[a(href="http://www.nsga.com/") www.nsga.com].
      .box.type5c
        h3 2019 Volunteers
        p The Volunteer signup deadline is #[strong Saturday, August 31, 2019]. Please register to volunteer, and invite a friend to join you!
        ul
          li
            a(href="files/Volunteer Packet 2019 Final-1.pdf") Volunteer Signup Form
        include partials/reader
        h3 Volunteer T-shirts & Check In
        p Unless otherwise indicated, volunteer T-shirts, certificates of appreciation, maps, and details of your event's specific responsibilities will be given out on the morning of your event. Any questions you may have can be answered at that time. If you need further information, please contact Shabreia Mackey (478-235-2177) or Tina Coria (770-560-3592).
